
<div class="preload">
<%= image_tag "teapot.png", :class => "teapot" %>
</div>

<div class="content">
  <div class="hero">
  <nav>
  <ul class = 'nav-link'>
      <li class = 'link1'><%= link_to 'about', about_path %></li>
      <li class = 'link2'><%= link_to 'works', works_path %></li>
      <li class = 'link3'><%= link_to 'services', services_path %></li>
      <li class = 'link4'><a href="">contact</a></li>
  </ul>
  </nav>
  <div class="intro">
<div class="about"> Hi! I'm Linlu<br><span class ='small-text'>A multi-disciplinary designer with a mission to help you solve problmes and next-level your product, service, and digital experience through human-centered design.</span></div>
<div class="girl_img">
<svg width="520" height="368" viewBox="0 0 520 368" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="girl" clip-path="url(#clip0)">
<g id="background">
<path id="Vector" opacity="0.1" d="M509.941 90.9983C504.625 80.6684 497.657 71.278 489.311 63.1993L203.145 60.8144L438.756 32.8266C423.339 27.6658 407.208 24.9595 390.953 24.8064C368.27 9.31391 339.118 0 307.32 0C278.789 0 252.407 7.49994 230.898 20.2254C212.602 12.2467 191.774 7.73934 169.644 7.73934C106.062 7.73934 53.0814 44.9858 41.195 94.3822L509.941 90.9983Z" fill="#6C63FF"/>
<path id="Vector_2" opacity="0.1" d="M520 132.411C519.98 118.876 516.933 105.518 511.082 93.3141L15.1214 137.361C10.0882 145.039 6.1756 153.397 3.50195 162.181L157.086 181.545L0 195.666C4.72602 251.582 61.4014 295.739 130.635 295.739C165.484 295.739 197.149 284.546 220.613 266.301C244.152 284.892 276.106 296.314 311.347 296.314C363.609 296.314 408.72 271.144 429.727 234.749C471.87 223.437 504.607 195.026 515.812 159.492L321.586 134.023H520C520 133.493 520 132.959 520 132.411Z" fill="#6C63FF"/>
</g>
<g id="leaves_up_anim">
<path id="Vector_3" d="M98.1189 127.287C99.4995 131.454 95.9515 146.044 95.9515 146.044C95.9515 146.044 84.4057 136.454 83.0251 132.283C82.363 130.28 82.5232 128.096 83.4703 126.212C84.4174 124.327 86.074 122.897 88.0756 122.234C90.0771 121.572 92.2597 121.732 94.1432 122.68C96.0267 123.627 97.4568 125.285 98.1189 127.287Z" fill="#9A7DD5" fill-opacity="0.9"/>
<path id="Vector_4" d="M49.1883 150.077C52.138 153.327 54.8025 168.102 54.8025 168.102C54.8025 168.102 40.3667 164.013 37.417 160.763C36.0006 159.201 35.2624 157.14 35.3647 155.034C35.4669 152.928 36.4013 150.948 37.9623 149.531C39.5233 148.114 41.583 147.376 43.6882 147.478C45.7935 147.58 47.772 148.515 49.1883 150.077Z" fill="#937FE8" fill-opacity="0.76"/>
</g>
<g id="leaves">
<path id="Vector_5" d="M130.423 254.634C130.423 254.634 109.154 223.93 112.766 194.952C114.357 182.808 111.967 170.475 105.956 159.805C103.063 154.761 99.7143 149.993 95.9515 145.56" stroke="#7B78A1" stroke-width="2" stroke-miterlimit="10"/>
<path id="Vector_6" d="M118.229 146.251C117.124 150.501 106.223 160.818 106.223 160.818C106.223 160.818 101.741 146.49 102.85 142.241C103.1 141.217 103.552 140.254 104.178 139.407C104.805 138.559 105.593 137.845 106.498 137.305C107.403 136.766 108.406 136.411 109.448 136.263C110.491 136.114 111.553 136.174 112.573 136.44C113.592 136.706 114.548 137.172 115.386 137.811C116.224 138.45 116.926 139.249 117.452 140.162C117.979 141.075 118.318 142.083 118.452 143.128C118.585 144.174 118.509 145.235 118.229 146.251Z" fill="#8672E7"/>
<path id="Vector_7" d="M133.451 218.046C130.92 221.633 117.087 227.457 117.087 227.457C117.087 227.457 117.93 212.466 120.461 208.879C121.676 207.156 123.525 205.986 125.602 205.627C127.68 205.268 129.814 205.749 131.537 206.964C133.26 208.18 134.429 210.03 134.788 212.108C135.147 214.187 134.666 216.323 133.451 218.046Z" fill="#6C63FF"/>
<path id="Vector_8" d="M94.2949 204.409C98.639 205.053 112.398 199.059 112.398 199.059C112.398 199.059 100.972 189.322 96.6372 188.677C95.6047 188.523 94.5521 188.575 93.5395 188.828C92.5269 189.082 91.5741 189.532 90.7355 190.154C89.0418 191.41 87.9162 193.287 87.6062 195.374C87.2962 197.46 87.8272 199.584 89.0825 201.278C90.3377 202.973 92.2143 204.099 94.2995 204.409H94.2949Z" fill="#8672E7"/>
<path id="Vector_9" d="M130.741 185.896C127.639 189.009 113.024 192.406 113.024 192.406C113.024 192.406 116.388 177.775 119.467 174.667C120.955 173.174 122.975 172.333 125.083 172.33C127.191 172.327 129.214 173.162 130.706 174.651C132.199 176.14 133.039 178.161 133.042 180.27C133.045 182.379 132.211 184.403 130.722 185.896H130.741Z" fill="#6C63FF"/>
<path id="Vector_10" d="M90.6549 166.872C94.6032 168.788 109.522 167.186 109.522 167.186C109.522 167.186 101.533 154.478 97.5575 152.559C95.6722 151.728 93.5379 151.662 91.6049 152.374C89.6718 153.087 88.091 154.523 87.1957 156.38C86.3005 158.236 86.1608 160.368 86.8061 162.325C87.4515 164.283 88.8314 165.913 90.6549 166.872Z" fill="#8672E7"/>
<path id="Vector_11" opacity="0.25" d="M130.741 185.896C127.639 189.009 113.024 192.406 113.024 192.406C113.024 192.406 116.388 177.775 119.467 174.667C120.955 173.174 122.975 172.333 125.083 172.33C127.191 172.327 129.214 173.162 130.706 174.651C132.199 176.14 133.039 178.161 133.042 180.27C133.045 182.379 132.211 184.403 130.722 185.896H130.741Z" fill="black"/>
<path id="Vector_12" opacity="0.25" d="M133.451 218.046C130.92 221.633 117.087 227.457 117.087 227.457C117.087 227.457 117.93 212.466 120.461 208.879C121.676 207.156 123.525 205.986 125.602 205.627C127.68 205.268 129.814 205.749 131.537 206.964C133.26 208.18 134.429 210.03 134.788 212.108C135.147 214.187 134.666 216.323 133.451 218.046Z" fill="black"/>
<path id="Vector_13" opacity="0.25" d="M94.2087 204.122C98.5528 204.767 112.312 198.773 112.312 198.773C112.312 198.773 100.886 189.035 96.551 188.391C95.5186 188.237 94.466 188.288 93.4534 188.542C92.4407 188.795 91.4879 189.246 90.6493 189.868C88.9557 191.123 87.8301 193.001 87.5201 195.087C87.2101 197.173 87.7411 199.297 88.9963 200.992C90.2516 202.686 92.1282 203.812 94.2133 204.122H94.2087Z" fill="black" fill-opacity="0.6"/>
<path id="Vector_14" d="M130.304 253.4C130.304 253.4 98.4227 233.953 89.983 205.979C86.5168 194.233 79.3381 183.929 69.5236 176.61C64.8363 173.172 59.844 170.172 54.6092 167.646" stroke="#7B78A2" stroke-width="2" stroke-miterlimit="10"/>
<path id="Vector_15" d="M75.2574 159.257C75.966 163.594 70.1954 177.448 70.1954 177.448C70.1954 177.448 60.2832 166.163 59.5699 161.826C59.2294 159.745 59.7293 157.614 60.9595 155.901C62.1897 154.189 64.0495 153.035 66.1298 152.694C68.21 152.354 70.3404 152.854 72.0521 154.085C73.7639 155.315 74.9169 157.176 75.2574 159.257Z" fill="#8672E7" fill-opacity="0.87"/>
<path id="Vector_16" d="M102.753 190.422C101.175 194.524 89.1915 203.557 89.1915 203.557C89.1915 203.557 86.3384 188.824 87.9122 184.718C88.6683 182.749 90.1752 181.161 92.1014 180.303C94.0276 179.446 96.2154 179.389 98.1834 180.146C100.151 180.902 101.738 182.41 102.595 184.337C103.452 186.264 103.509 188.453 102.753 190.422Z" fill="#8672E7" fill-opacity="0.97"/>
<path id="Vector_17" d="M118.266 218.704C117.405 223.014 107.115 233.944 107.115 233.944C107.115 233.944 101.814 219.897 102.675 215.592C102.879 214.568 103.283 213.594 103.863 212.726C104.444 211.858 105.189 211.113 106.058 210.533C106.926 209.953 107.9 209.55 108.924 209.347C109.948 209.144 111.002 209.145 112.026 209.349C113.049 209.553 114.023 209.958 114.89 210.538C115.758 211.119 116.503 211.865 117.082 212.734C117.662 213.602 118.064 214.577 118.267 215.601C118.47 216.626 118.47 217.68 118.266 218.704Z" fill="#7261C4"/>
<path id="Vector_18" d="M58.3873 189.294C62.7774 189.446 75.7682 181.928 75.7682 181.928C75.7682 181.928 63.3204 173.548 58.9303 173.387C57.8872 173.351 56.8474 173.522 55.8701 173.888C54.8928 174.254 53.9972 174.81 53.2345 175.523C52.4717 176.235 51.8567 177.091 51.4246 178.042C50.9925 178.992 50.7518 180.018 50.7161 181.062C50.6805 182.106 50.8506 183.146 51.2168 184.124C51.583 185.101 52.1382 185.997 52.8505 186.761C53.5628 187.524 54.4184 188.139 55.3684 188.571C56.3184 189.004 57.3442 189.244 58.3873 189.28V189.294Z" fill="#8672E7"/>
<path id="Vector_19" d="M76.9278 222.13C81.1614 220.96 91.3129 209.902 91.3129 209.902C91.3129 209.902 76.9232 205.615 72.708 206.803C71.6918 207.072 70.7391 207.54 69.9048 208.179C69.0706 208.819 68.3716 209.618 67.8481 210.53C67.3246 211.442 66.9871 212.449 66.8552 213.492C66.7233 214.535 66.7995 215.594 67.0795 216.608C67.3595 217.622 67.8376 218.57 68.4863 219.397C69.135 220.224 69.9413 220.915 70.8585 221.428C71.7757 221.942 72.7857 222.268 73.8298 222.389C74.874 222.509 75.9317 222.421 76.9416 222.13H76.9278Z" fill="#7261C4"/>
<path id="Vector_20" d="M102.845 240.403C107.019 241.784 121.593 238.193 121.593 238.193C121.593 238.193 111.975 226.683 107.787 225.302C106.796 224.976 105.749 224.849 104.709 224.927C103.668 225.006 102.653 225.289 101.721 225.76C100.79 226.231 99.9599 226.881 99.2795 227.673C98.599 228.465 98.0812 229.383 97.7554 230.376C97.4297 231.368 97.3025 232.414 97.3811 233.456C97.4596 234.497 97.7424 235.513 98.2133 236.445C98.6842 237.377 99.334 238.207 100.126 238.888C100.917 239.568 101.835 240.086 102.827 240.412L102.845 240.403Z" fill="#6C63FF"/>
<path id="Vector_21" opacity="0.25" d="M102.845 240.403C107.019 241.784 121.593 238.193 121.593 238.193C121.593 238.193 111.975 226.683 107.787 225.302C106.796 224.976 105.749 224.849 104.709 224.927C103.668 225.006 102.653 225.289 101.721 225.76C100.79 226.231 99.9599 226.881 99.2795 227.673C98.599 228.465 98.0812 229.383 97.7554 230.376C97.4297 231.368 97.3025 232.414 97.3811 233.456C97.4596 234.497 97.7424 235.513 98.2133 236.445C98.6842 237.377 99.334 238.207 100.126 238.888C100.917 239.568 101.835 240.086 102.827 240.412L102.845 240.403Z" fill="#575757"/>
<g id="Vector_22">
<path d="M99.3246 251.572C103.696 251.112 115.569 241.95 115.569 241.95C115.569 241.95 102.109 235.311 97.7416 235.748C96.7031 235.852 95.6952 236.16 94.7756 236.654C93.8559 237.147 93.0424 237.818 92.3816 238.626C91.0469 240.258 90.4151 242.354 90.625 244.452C90.7289 245.491 91.0364 246.5 91.5299 247.42C92.0233 248.34 92.6931 249.154 93.5009 249.815C95.1324 251.15 97.2273 251.782 99.3246 251.572Z" fill="#A285D7"/>
<path d="M99.3246 251.572C103.696 251.112 115.569 241.95 115.569 241.95C115.569 241.95 102.109 235.311 97.7416 235.748C96.7031 235.852 95.6952 236.16 94.7756 236.654C93.8559 237.147 93.0424 237.818 92.3816 238.626C91.0469 240.258 90.4151 242.354 90.625 244.452C90.7289 245.491 91.0364 246.5 91.5299 247.42C92.0233 248.34 92.6931 249.154 93.5009 249.815C95.1324 251.15 97.2273 251.782 99.3246 251.572Z" fill="url(#paint0_linear)" fill-opacity="0.9"/>
</g>
</g>
<g id="mac">
<path id="Vector_23" d="M299.861 328.413V325.462C294.77 323.259 290.426 319.627 287.355 315.005C284.284 310.384 283.791 296.523 283.73 290.974L230.145 290.974C229.933 296.648 229.198 311.329 225.87 315.929C222.542 320.529 217.924 324.037 212.602 326.01V328.413H299.861Z" fill="#F4F3F3" fill-opacity="0.64"/>
<path id="Vector_24" d="M110.903 259.206V275.78C110.903 284.933 117.598 292.355 125.858 292.355H382.637C390.897 292.355 397.593 284.933 397.593 275.78V259.206H110.903Z" fill="#F9F9F9" fill-opacity="0.89"/>
<path id="Vector_25" opacity="0.1" d="M298.195 329.376V332.327H210.936V329.923C213.328 329.035 215.591 327.83 217.664 326.342H292.857C294.523 327.541 296.312 328.558 298.195 329.376Z" fill="#8672E7"/>
<path id="Vector_26" d="M322.681 327.262H186.468C184.054 327.262 182.097 329.221 182.097 331.636C182.097 334.052 184.054 336.01 186.468 336.01H322.681C325.095 336.01 327.052 334.052 327.052 331.636C327.052 329.221 325.095 327.262 322.681 327.262Z" fill="#F1F2F5" fill-opacity="0.89"/>
<path id="Vector_27" d="M397.69 80.2571C397.69 76.2887 396.114 72.4828 393.309 69.6767C390.504 66.8706 386.7 65.2941 382.734 65.2941H125.955C121.989 65.2941 118.184 66.8706 115.38 69.6767C112.575 72.4828 110.999 76.2887 110.999 80.2571V265.108H397.69V80.2571Z" fill="#FEFEFE" fill-opacity="0.8"/>
<path id="Vector_28" d="M382.407 80.1098H126.088C122.022 80.1098 118.726 83.4079 118.726 87.4762V246.315C118.726 250.383 122.022 253.681 126.088 253.681H382.407C386.473 253.681 389.77 250.383 389.77 246.315V87.4762C389.77 83.4079 386.473 80.1098 382.407 80.1098Z" fill="#EDEDF4" fill-opacity="0.7"/>
<path id="Vector_29" d="M254.344 75.8833C256.251 75.8833 257.796 74.3374 257.796 72.4303C257.796 70.5233 256.251 68.9773 254.344 68.9773C252.438 68.9773 250.893 70.5233 250.893 72.4303C250.893 74.3374 252.438 75.8833 254.344 75.8833Z" fill="white"/>
<path id="Vector_30" d="M254.344 287.668C259.046 287.668 262.858 283.854 262.858 279.15C262.858 274.446 259.046 270.633 254.344 270.633C249.643 270.633 245.831 274.446 245.831 279.15C245.831 283.854 249.643 287.668 254.344 287.668Z" fill="white" fill-opacity="0.74"/>
<g id="Vector_31">
<path d="M389.867 86.9329H118.822C118.822 84.9792 119.598 83.1056 120.979 81.7241C122.36 80.3426 124.232 79.5665 126.185 79.5665H382.504C384.456 79.5665 386.329 80.3426 387.71 81.7241C389.091 83.1056 389.867 84.9792 389.867 86.9329Z" fill="#F7F7F7" fill-opacity="0.61"/>
<path d="M389.867 86.9329H118.822C118.822 84.9792 119.598 83.1056 120.979 81.7241C122.36 80.3426 124.232 79.5665 126.185 79.5665H382.504C384.456 79.5665 386.329 80.3426 387.71 81.7241C389.091 83.1056 389.867 84.9792 389.867 86.9329Z" fill="url(#paint1_linear)"/>
</g>
<path id="Vector_32" d="M126.185 85.0913C127.202 85.0913 128.026 84.2668 128.026 83.2497C128.026 82.2327 127.202 81.4081 126.185 81.4081C125.169 81.4081 124.344 82.2327 124.344 83.2497C124.344 84.2668 125.169 85.0913 126.185 85.0913Z" fill="#EBAF9A"/>
<path id="Vector_33" d="M131.707 85.0913C132.724 85.0913 133.548 84.2668 133.548 83.2497C133.548 82.2327 132.724 81.4081 131.707 81.4081C130.691 81.4081 129.867 82.2327 129.867 83.2497C129.867 84.2668 130.691 85.0913 131.707 85.0913Z" fill="#FED566"/>
<path id="Vector_34" d="M137.229 85.0913C138.246 85.0913 139.07 84.2668 139.07 83.2497C139.07 82.2327 138.246 81.4081 137.229 81.4081C136.213 81.4081 135.389 82.2327 135.389 83.2497C135.389 84.2668 136.213 85.0913 137.229 85.0913Z" fill="#B0D7D3"/>
<path id="Vector_35" opacity="0.2" d="M257.796 223.442H128.946V227.586H257.796V223.442Z" fill="#6C63FF"/>
<path id="Vector_36" opacity="0.2" d="M257.796 229.432H128.946V233.575H257.796V229.432Z" fill="#6C63FF"/>
<path id="Vector_37" opacity="0.2" d="M257.796 235.417H128.946V239.561H257.796V235.417Z" fill="#6C63FF"/>
<path id="Vector_38" opacity="0.2" d="M256.875 104.198H128.946V173.719H256.875V104.198Z" fill="#6C63FF"/>
<path id="Vector_39" opacity="0.2" d="M160.238 180.164H130.327V207.788H160.238V180.164Z" fill="#6C63FF"/>
<path id="Vector_40" opacity="0.2" d="M256.875 180.164H226.964V207.788H256.875V180.164Z" fill="#6C63FF"/>
<path id="Vector_41" opacity="0.2" d="M207.867 180.164H177.955V207.788H207.867V180.164Z" fill="#6C63FF"/>
<path id="Vector_42" opacity="0.2" d="M372.228 124.419H284.182V189.257H372.228V124.419Z" fill="#6C63FF"/>
<path id="Vector_43" d="M362.946 137.577H293.459V141.721H362.946V137.577Z" fill="#EDEDF4"/>
<path id="Vector_44" d="M362.946 146.173H293.459V150.316H362.946V146.173Z" fill="#EDEDF4"/>
<path id="Vector_45" d="M362.946 154.768H293.459V158.912H362.946V154.768Z" fill="#EDEDF4"/>
<path id="Vector_46" d="M362.946 163.36H293.459V167.503H362.946V163.36Z" fill="#EDEDF4"/>
<path id="Vector_47" d="M362.946 171.955H293.459V176.099H362.946V171.955Z" fill="#EDEDF4"/>
<path id="Vector_48" opacity="0.34" d="M361.492 196.624H294.918V208.286H361.492V196.624Z" fill="#EBAF9A"/>
<path id="Vector_49" d="M336.003 235.481H291.361V243.304H336.003V235.481Z" fill="#FFCF4C"/>
<rect id="Rectangle 1" x="230.089" y="292.355" width="53.3805" height="0.460449" fill="#E9E2F0"/>
</g>
<g id="progress bar">
<path id="Vector_50" d="M198.433 93.1484H128.946V97.292H198.433V93.1484Z" fill="#FFCF4D"/>
<path id="Vector_51" d="M198.433 214.234H128.946V218.378H198.433V214.234Z" fill="#F7C6B5"/>
</g>
<g id="shadow">
<path id="Vector_52" opacity="0.1" d="M260.327 342.861C305.819 342.861 342.698 340.672 342.698 337.971C342.698 335.271 305.819 333.082 260.327 333.082C214.834 333.082 177.955 335.271 177.955 337.971C177.955 340.672 214.834 342.861 260.327 342.861Z" fill="#6C63FF"/>
<path id="Vector_53" opacity="0.1" d="M118.924 358.316C126.192 358.316 132.085 357.719 132.085 356.981C132.085 356.244 126.192 355.646 118.924 355.646C111.655 355.646 105.762 356.244 105.762 356.981C105.762 357.719 111.655 358.316 118.924 358.316Z" fill="#6C63FF"/>
<path id="Vector_54" opacity="0.1" d="M388.33 338.69C392.686 338.69 396.217 338.331 396.217 337.888C396.217 337.446 392.686 337.087 388.33 337.087C383.973 337.087 380.442 337.446 380.442 337.888C380.442 338.331 383.973 338.69 388.33 338.69Z" fill="#6C63FF"/>
<path id="Vector_55" opacity="0.1" d="M77.908 337.663C83.4789 337.663 87.995 337.205 87.995 336.641C87.995 336.076 83.4789 335.619 77.908 335.619C72.337 335.619 67.8209 336.076 67.8209 336.641C67.8209 337.205 72.337 337.663 77.908 337.663Z" fill="#6C63FF"/>
</g>
<g id="leaves_low_anim">
<g id="Vector_56">
<path d="M123.521 334.988C123.521 334.988 106.356 343.86 115.238 354.325C115.238 354.325 116.07 356.627 118.486 356.433C118.486 356.433 118.003 355.554 119.867 354.854C120.517 354.598 121.134 354.268 121.708 353.869C122.487 353.329 123.071 352.55 123.369 351.65C123.369 351.65 126.88 346.949 124.16 338.252C124.16 338.252 124.51 335.794 124.202 335.398L122.094 338.211C122.094 338.211 124.252 339.656 124.496 341.783C124.496 341.783 122.251 338.215 121.763 338.62C121.666 338.703 120.727 340.186 120.727 340.186C120.727 340.186 124.464 342.723 124.745 346.015C124.745 346.015 122.637 341.411 120.364 340.743L119.08 343.068C119.08 343.068 123.166 345.554 123.627 349.293C123.627 349.293 121.257 344.55 118.836 343.593L117.879 346.047C117.879 346.047 121.813 348.551 122.177 351.664C122.177 351.664 118.887 346.461 117.699 346.599C117.699 346.599 116.959 348.901 117.055 349.615C117.055 349.615 119.839 351.456 119.89 353.298C119.89 353.298 117.322 350.052 116.926 350.269C116.926 350.269 116.761 353.528 117.552 355.227C117.552 355.227 116.199 352.805 116.416 350.269C115.616 350.979 115.043 351.91 114.768 352.944C114.768 352.944 114.027 351.148 116.466 349.5C116.466 349.5 116.696 346.963 116.977 346.65C116.977 346.65 114.34 347.934 113.222 349.518C113.222 349.518 113.632 347.161 117.207 345.992L118.127 343.505C118.127 343.505 114.556 345.02 113.457 346.355C113.457 346.355 114.248 344.016 118.408 342.898L119.641 340.596C119.641 340.596 116.466 341.664 114.92 342.898C114.92 342.898 116.121 340.89 120.023 339.965L121.027 338.533C121.027 338.533 118.726 339.357 118.081 339.652C117.437 339.946 117.308 339.799 117.308 339.799C118.488 338.802 119.922 338.153 121.45 337.925C121.45 337.925 123.682 335.121 123.521 334.988Z" fill="#6C63FF"/>
<path d="M123.521 334.988C123.521 334.988 106.356 343.86 115.238 354.325C115.238 354.325 116.07 356.627 118.486 356.433C118.486 356.433 118.003 355.554 119.867 354.854C120.517 354.598 121.134 354.268 121.708 353.869C122.487 353.329 123.071 352.55 123.369 351.65C123.369 351.65 126.88 346.949 124.16 338.252C124.16 338.252 124.51 335.794 124.202 335.398L122.094 338.211C122.094 338.211 124.252 339.656 124.496 341.783C124.496 341.783 122.251 338.215 121.763 338.62C121.666 338.703 120.727 340.186 120.727 340.186C120.727 340.186 124.464 342.723 124.745 346.015C124.745 346.015 122.637 341.411 120.364 340.743L119.08 343.068C119.08 343.068 123.166 345.554 123.627 349.293C123.627 349.293 121.257 344.55 118.836 343.593L117.879 346.047C117.879 346.047 121.813 348.551 122.177 351.664C122.177 351.664 118.887 346.461 117.699 346.599C117.699 346.599 116.959 348.901 117.055 349.615C117.055 349.615 119.839 351.456 119.89 353.298C119.89 353.298 117.322 350.052 116.926 350.269C116.926 350.269 116.761 353.528 117.552 355.227C117.552 355.227 116.199 352.805 116.416 350.269C115.616 350.979 115.043 351.91 114.768 352.944C114.768 352.944 114.027 351.148 116.466 349.5C116.466 349.5 116.696 346.963 116.977 346.65C116.977 346.65 114.34 347.934 113.222 349.518C113.222 349.518 113.632 347.161 117.207 345.992L118.127 343.505C118.127 343.505 114.556 345.02 113.457 346.355C113.457 346.355 114.248 344.016 118.408 342.898L119.641 340.596C119.641 340.596 116.466 341.664 114.92 342.898C114.92 342.898 116.121 340.89 120.023 339.965L121.027 338.533C121.027 338.533 118.726 339.357 118.081 339.652C117.437 339.946 117.308 339.799 117.308 339.799C118.488 338.802 119.922 338.153 121.45 337.925C121.45 337.925 123.682 335.121 123.521 334.988Z" fill="url(#paint2_linear)"/>
</g>
<g id="Vector_57">
<path d="M81.4513 319.795C81.4513 319.795 68.2995 326.59 75.0917 334.601C75.2832 335.099 75.6271 335.523 76.0743 335.813C76.5215 336.104 77.0489 336.245 77.5812 336.217C77.5812 336.217 77.2131 335.545 78.6258 335.006C79.1252 334.809 79.6006 334.555 80.0432 334.251C80.641 333.836 81.0883 333.239 81.3179 332.548C81.3179 332.548 84.0053 328.947 81.9207 322.285C81.9207 322.285 82.1922 320.398 81.9529 320.094L80.3561 322.29C80.3561 322.29 82.0081 323.4 82.1968 325.025C82.1968 325.025 80.4758 322.295 80.103 322.603C80.0294 322.668 79.3115 323.805 79.3115 323.805C79.3115 323.805 82.1738 325.748 82.3901 328.271C82.3901 328.271 80.7749 324.735 79.0308 324.233L78.0506 326.01C78.0506 326.01 81.1752 327.916 81.5296 330.78C81.5296 330.78 79.7119 327.147 77.8481 326.415L77.1165 328.294C77.1165 328.294 80.1352 330.214 80.4113 332.598C80.4113 332.598 77.8896 328.611 76.9784 328.736C76.9784 328.736 76.4124 330.504 76.486 331.038C76.486 331.038 78.6212 332.465 78.6581 333.865C78.6581 333.865 76.6885 331.378 76.3848 331.563C76.3848 331.563 76.2605 334.058 76.868 335.361C76.2511 334.192 75.9497 332.883 75.9936 331.563C75.3856 332.103 74.9476 332.808 74.7327 333.593C74.7327 333.593 74.1667 332.212 76.035 330.955C76.035 330.955 76.2099 329.012 76.4262 328.772C76.4262 328.772 74.406 329.758 73.5501 330.969C73.5501 330.969 73.863 329.164 76.6011 328.266L77.2959 326.36C77.2959 326.36 74.5579 327.52 73.7112 328.547C73.7112 328.547 74.3186 326.751 77.5076 325.895L78.4556 324.141C78.4556 324.141 76.0212 324.96 74.834 325.895C74.834 325.895 75.7543 324.353 78.7455 323.648L79.514 322.548C79.514 322.548 77.7515 323.179 77.2591 323.409C76.7667 323.639 76.6655 323.519 76.6655 323.519C77.5678 322.757 78.6637 322.26 79.8315 322.083C79.8315 322.083 81.5526 319.887 81.4513 319.795Z" fill="#8672E7"/>
<path d="M81.4513 319.795C81.4513 319.795 68.2995 326.59 75.0917 334.601C75.2832 335.099 75.6271 335.523 76.0743 335.813C76.5215 336.104 77.0489 336.245 77.5812 336.217C77.5812 336.217 77.2131 335.545 78.6258 335.006C79.1252 334.809 79.6006 334.555 80.0432 334.251C80.641 333.836 81.0883 333.239 81.3179 332.548C81.3179 332.548 84.0053 328.947 81.9207 322.285C81.9207 322.285 82.1922 320.398 81.9529 320.094L80.3561 322.29C80.3561 322.29 82.0081 323.4 82.1968 325.025C82.1968 325.025 80.4758 322.295 80.103 322.603C80.0294 322.668 79.3115 323.805 79.3115 323.805C79.3115 323.805 82.1738 325.748 82.3901 328.271C82.3901 328.271 80.7749 324.735 79.0308 324.233L78.0506 326.01C78.0506 326.01 81.1752 327.916 81.5296 330.78C81.5296 330.78 79.7119 327.147 77.8481 326.415L77.1165 328.294C77.1165 328.294 80.1352 330.214 80.4113 332.598C80.4113 332.598 77.8896 328.611 76.9784 328.736C76.9784 328.736 76.4124 330.504 76.486 331.038C76.486 331.038 78.6212 332.465 78.6581 333.865C78.6581 333.865 76.6885 331.378 76.3848 331.563C76.3848 331.563 76.2605 334.058 76.868 335.361C76.2511 334.192 75.9497 332.883 75.9936 331.563C75.3856 332.103 74.9476 332.808 74.7327 333.593C74.7327 333.593 74.1667 332.212 76.035 330.955C76.035 330.955 76.2099 329.012 76.4262 328.772C76.4262 328.772 74.406 329.758 73.5501 330.969C73.5501 330.969 73.863 329.164 76.6011 328.266L77.2959 326.36C77.2959 326.36 74.5579 327.52 73.7112 328.547C73.7112 328.547 74.3186 326.751 77.5076 325.895L78.4556 324.141C78.4556 324.141 76.0212 324.96 74.834 325.895C74.834 325.895 75.7543 324.353 78.7455 323.648L79.514 322.548C79.514 322.548 77.7515 323.179 77.2591 323.409C76.7667 323.639 76.6655 323.519 76.6655 323.519C77.5678 322.757 78.6637 322.26 79.8315 322.083C79.8315 322.083 81.5526 319.887 81.4513 319.795Z" fill="url(#paint3_linear)"/>
</g>
<path id="Vector_58" d="M391.951 324.587C391.951 324.587 381.666 329.924 386.977 336.167C387.127 336.555 387.396 336.887 387.745 337.113C388.095 337.34 388.507 337.45 388.923 337.428C388.923 337.428 388.633 336.903 389.742 336.48C390.134 336.328 390.506 336.13 390.851 335.89C391.317 335.566 391.666 335.099 391.845 334.56C391.845 334.56 393.948 331.742 392.306 326.535C392.306 326.535 392.513 325.062 392.329 324.822L391.081 326.535C391.081 326.535 392.375 327.405 392.522 328.68C392.522 328.68 391.173 326.54 390.884 326.784C390.824 326.834 390.262 327.704 390.262 327.704C390.262 327.704 392.503 329.224 392.669 331.194C392.669 331.194 391.408 328.432 390.046 328.04L389.31 329.463C389.31 329.463 391.753 330.95 392.029 333.192C392.029 333.192 390.612 330.352 389.158 329.776L388.587 331.249C388.587 331.249 390.943 332.746 391.164 334.615C391.164 334.615 389.19 331.493 388.481 331.595C388.279 332.178 388.149 332.784 388.095 333.4C388.095 333.4 389.761 334.514 389.793 335.609C389.793 335.609 388.251 333.667 388.017 333.795C388.017 333.795 387.915 335.748 388.389 336.765C387.91 335.851 387.676 334.828 387.708 333.795C387.233 334.218 386.891 334.77 386.724 335.384C386.724 335.384 386.263 334.307 387.741 333.321C387.741 333.321 387.879 331.802 388.044 331.613C388.044 331.613 386.466 332.382 385.799 333.33C385.799 333.33 386.042 331.917 388.182 331.217L388.725 329.73C388.725 329.73 386.585 330.651 385.923 331.434C385.923 331.434 386.383 330.052 388.896 329.362L389.632 327.981C388.633 328.318 387.682 328.782 386.802 329.362C386.802 329.362 387.524 328.16 389.862 327.608L390.46 326.747C390.46 326.747 389.08 327.244 388.698 327.419C388.316 327.594 388.238 327.506 388.238 327.506C388.943 326.909 389.8 326.52 390.713 326.383C390.713 326.383 392.043 324.68 391.951 324.587Z" fill="#8672E7"/>
</g>
<g id="saboten">
<path id="Vector_59" opacity="0.1" d="M430.744 367.953C441.355 367.953 449.956 367.233 449.956 366.346C449.956 365.458 441.355 364.739 430.744 364.739C420.133 364.739 411.532 365.458 411.532 366.346C411.532 367.233 420.133 367.953 430.744 367.953Z" fill="#6C63FF"/>
<path id="Vector_60" opacity="0.1" d="M446.532 316.038C446.092 316.646 445.739 317.312 445.483 318.018C445.419 318.188 445.359 318.386 445.294 318.575C445.176 318.521 445.053 318.477 444.926 318.446C444.391 318.311 443.838 318.264 443.288 318.308C443.288 318.092 443.311 317.871 443.32 317.631C443.385 315.205 443.099 311.821 440.785 313.257C438.567 314.639 440.15 316.941 441.581 318.414C441.705 318.543 441.829 318.663 441.949 318.778C440.647 319.698 440.393 321.876 440.177 324.137C439.961 326.397 438.042 328.87 436.772 330.274L436.408 330.665C435.896 330.256 435.304 329.96 434.669 329.796C434.035 329.631 433.373 329.603 432.727 329.712C432.672 329.514 432.616 329.307 432.552 329.091C431.526 325.366 429.386 318.916 426.653 317.502C426.772 317.36 426.892 317.208 427.016 317.042C428.176 315.523 429.478 313.271 427.55 312.696C425.622 312.12 425.452 314.648 425.557 316.545C425.557 316.784 425.576 317.01 425.613 317.221C425.226 317.239 424.848 317.335 424.501 317.505C424.153 317.674 423.844 317.913 423.592 318.207L423.298 317.852C421.733 316.011 418.862 313.078 417.997 315.292C417.187 317.355 419.708 320.035 421.485 321.586L421.6 321.683C420.403 326.522 425.608 330.467 428.41 332.194L428.774 332.415C424.909 336.973 422.525 345.518 422.525 345.518L433.348 347.451C433.348 347.451 440.522 341.254 439.607 335.435H439.68C446.85 333.999 448.483 326.347 447.365 321.802L447.489 321.752C448.796 321.217 449.942 320.351 450.812 319.238C452.8 316.439 448.617 313.276 446.532 316.038Z" fill="#7B78A2"/>
<path id="Vector_61" d="M424.582 318.763L423.317 322.447C423.317 322.447 422.613 321.949 421.725 321.167C419.953 319.615 417.427 316.936 418.236 314.873C419.102 312.658 421.973 315.582 423.538 317.433C424.164 318.192 424.582 318.763 424.582 318.763Z" fill="#D09EA9" fill-opacity="0.6"/>
<path id="Vector_62" d="M427.256 316.646C426.87 317.151 426.458 317.637 426.023 318.1C425.912 317.454 425.837 316.803 425.797 316.148C425.691 314.251 425.889 311.733 427.79 312.299C429.69 312.866 428.425 315.126 427.256 316.646Z" fill="#D9A8B1" fill-opacity="0.8"/>
<path id="Vector_63" d="M443.578 317.23C443.537 318.45 443.417 319.426 443.417 319.426C442.861 318.99 442.333 318.518 441.839 318.013C440.408 316.526 438.825 314.233 441.043 312.856C443.358 311.42 443.643 314.804 443.578 317.23Z" fill="#CDB1D1"/>
<path id="Vector_64" d="M451.052 318.828C450.182 319.939 449.039 320.805 447.734 321.342C447.371 321.498 446.999 321.633 446.62 321.747L445.129 319.652C445.284 318.96 445.489 318.28 445.741 317.617C445.997 316.911 446.35 316.245 446.79 315.637C448.852 312.889 453.058 316.052 451.052 318.828Z" fill="#CDB1D1"/>
<path id="Vector_65" opacity="0.1" d="M423.538 317.456C424.164 318.192 424.582 318.763 424.582 318.763L423.317 322.447C423.317 322.447 422.613 321.949 421.725 321.167C421.924 319.98 422.414 318.862 423.151 317.912C423.272 317.753 423.401 317.601 423.538 317.456Z" fill="black"/>
<path id="Vector_66" opacity="0.1" d="M427.256 316.646C426.87 317.151 426.458 317.637 426.023 318.1C425.912 317.454 425.837 316.803 425.797 316.148C426.323 316.16 426.832 316.333 427.256 316.646Z" fill="black"/>
<g id="Vector_67">
<path d="M433.487 331.36L430.339 332.741C430.339 332.741 429.649 332.41 428.659 331.793C425.355 329.758 418.701 324.634 423.137 318.593C427.573 312.553 431.315 323.386 432.801 328.685C433.238 330.273 433.487 331.36 433.487 331.36Z" fill="#EDCFCF"/>
<path d="M433.487 331.36L430.339 332.741C430.339 332.741 429.649 332.41 428.659 331.793C425.355 329.758 418.701 324.634 423.137 318.593C427.573 312.553 431.315 323.386 432.801 328.685C433.238 330.273 433.487 331.36 433.487 331.36Z" fill="url(#paint4_linear)" fill-opacity="0.7"/>
</g>
<path id="Vector_68" opacity="0.1" d="M441.839 318.013C442.297 317.539 442.92 317.259 443.578 317.23C443.537 318.45 443.417 319.426 443.417 319.426C442.861 318.99 442.333 318.518 441.839 318.013Z" fill="black"/>
<path id="Vector_69" opacity="0.1" d="M447.752 321.342C447.389 321.498 447.017 321.633 446.639 321.747L445.148 319.652C445.303 318.96 445.507 318.28 445.76 317.617C446.703 318.179 447.412 319.578 447.752 321.342Z" fill="black"/>
<path id="Vector_70" d="M439.929 335.025C439.754 335.062 439.575 335.094 439.395 335.117C428.848 336.724 435.916 331.029 435.916 331.029C435.916 331.029 436.377 330.591 437.039 329.873C438.309 328.492 440.224 326.01 440.445 323.736C440.776 320.315 441.158 317.106 445.194 318.045C449.229 318.984 449.906 333.022 439.929 335.025Z" fill="#CDB1D1"/>
<path id="Vector_71" d="M439.722 361.309H419.562V366.613H439.722V361.309Z" fill="#DDC7CA"/>
<path id="Vector_72" d="M442.695 344.072H416.354V362.58H442.695V344.072Z" fill="#DDC7CA"/>
<path id="Vector_73" d="M441.047 361.309H420.887V366.613H441.047V361.309Z" fill="#EDCFCF"/>
<path id="Vector_74" opacity="0.1" d="M432.792 328.69C433.252 330.273 433.478 331.36 433.478 331.36L430.33 332.741C430.33 332.741 429.64 332.41 428.65 331.793C429.883 330.232 431.278 329.053 432.792 328.69Z" fill="black"/>
<path id="Vector_75" opacity="0.1" d="M439.929 335.025C439.754 335.062 439.575 335.094 439.395 335.117C428.848 336.724 435.916 331.028 435.916 331.028C435.916 331.028 436.377 330.591 437.039 329.873C439.009 331.452 439.814 333.229 439.929 335.025Z" fill="black"/>
<g id="Vector_76">
<path d="M422.765 345.117C422.765 345.117 428.673 323.938 436.956 330.471C445.24 337.004 433.588 347.046 433.588 347.046L422.765 345.117Z" fill="#DDC7CA"/>
<path d="M422.765 345.117C422.765 345.117 428.673 323.938 436.956 330.471C445.24 337.004 433.588 347.046 433.588 347.046L422.765 345.117Z" fill="url(#paint5_linear)" fill-opacity="0.9"/>
</g>
<path id="Vector_77" opacity="0.1" d="M425.747 322.58C426.113 322.58 426.409 322.283 426.409 321.917C426.409 321.551 426.113 321.254 425.747 321.254C425.381 321.254 425.084 321.551 425.084 321.917C425.084 322.283 425.381 322.58 425.747 322.58Z" fill="black"/>
<path id="Vector_78" opacity="0.1" d="M425.691 325.674C426.057 325.674 426.354 325.377 426.354 325.011C426.354 324.645 426.057 324.348 425.691 324.348C425.325 324.348 425.029 324.645 425.029 325.011C425.029 325.377 425.325 325.674 425.691 325.674Z" fill="black"/>
<path id="Vector_79" opacity="0.1" d="M444.908 323.188C445.274 323.188 445.571 322.891 445.571 322.525C445.571 322.159 445.274 321.862 444.908 321.862C444.542 321.862 444.246 322.159 444.246 322.525C444.246 322.891 444.542 323.188 444.908 323.188Z" fill="black"/>
<path id="Vector_80" opacity="0.1" d="M429.446 339.044C429.812 339.044 430.109 338.747 430.109 338.381C430.109 338.015 429.812 337.718 429.446 337.718C429.08 337.718 428.784 338.015 428.784 338.381C428.784 338.747 429.08 339.044 429.446 339.044Z" fill="black"/>
<path id="Vector_81" opacity="0.1" d="M443.528 328.326C443.894 328.326 444.19 328.029 444.19 327.663C444.19 327.297 443.894 327 443.528 327C443.162 327 442.865 327.297 442.865 327.663C442.865 328.029 443.162 328.326 443.528 328.326Z" fill="black"/>
<path id="Vector_82" opacity="0.1" d="M436.68 335.177C437.046 335.177 437.343 334.88 437.343 334.514C437.343 334.148 437.046 333.851 436.68 333.851C436.314 333.851 436.018 334.148 436.018 334.514C436.018 334.88 436.314 335.177 436.68 335.177Z" fill="black"/>
<path id="Vector_83" opacity="0.1" d="M428.011 323.906C428.377 323.906 428.673 323.609 428.673 323.243C428.673 322.877 428.377 322.58 428.011 322.58C427.645 322.58 427.348 322.877 427.348 323.243C427.348 323.609 427.645 323.906 428.011 323.906Z" fill="black"/>
<path id="Vector_84" opacity="0.1" d="M443.086 325.177C443.452 325.177 443.749 324.88 443.749 324.514C443.749 324.148 443.452 323.851 443.086 323.851C442.72 323.851 442.423 324.148 442.423 324.514C442.423 324.88 442.72 325.177 443.086 325.177Z" fill="black"/>
<path id="Vector_85" opacity="0.1" d="M440.822 330.315C441.188 330.315 441.485 330.018 441.485 329.652C441.485 329.286 441.188 328.989 440.822 328.989C440.456 328.989 440.159 329.286 440.159 329.652C440.159 330.018 440.456 330.315 440.822 330.315Z" fill="black"/>
<path id="Vector_86" opacity="0.1" d="M433.864 338.547C434.23 338.547 434.527 338.25 434.527 337.884C434.527 337.518 434.23 337.221 433.864 337.221C433.498 337.221 433.201 337.518 433.201 337.884C433.201 338.25 433.498 338.547 433.864 338.547Z" fill="black"/>
<path id="Vector_87" opacity="0.1" d="M432.428 335.287C432.794 335.287 433.091 334.99 433.091 334.624C433.091 334.258 432.794 333.961 432.428 333.961C432.062 333.961 431.766 334.258 431.766 334.624C431.766 334.99 432.062 335.287 432.428 335.287Z" fill="black" fill-opacity="0.76"/>
<path id="Vector_88" opacity="0.1" d="M429.005 327.939C429.371 327.939 429.667 327.642 429.667 327.276C429.667 326.91 429.371 326.613 429.005 326.613C428.639 326.613 428.342 326.91 428.342 327.276C428.342 327.642 428.639 327.939 429.005 327.939Z" fill="black"/>
<path id="Vector_89" opacity="0.1" d="M441.047 361.309H420.887V363.247H441.047V361.309Z" fill="black"/>
<path id="Vector_90" d="M444.025 344.072H417.684V362.58H444.025V344.072Z" fill="#EDCFCF"/>
<path id="Vector_91" opacity="0.1" d="M434.748 341.53C435.114 341.53 435.41 341.233 435.41 340.867C435.41 340.501 435.114 340.204 434.748 340.204C434.382 340.204 434.085 340.501 434.085 340.867C434.085 341.233 434.382 341.53 434.748 341.53Z" fill="black"/>
<path id="Vector_92" opacity="0.1" d="M430.772 342.359C431.138 342.359 431.434 342.062 431.434 341.696C431.434 341.33 431.138 341.033 430.772 341.033C430.406 341.033 430.109 341.33 430.109 341.696C430.109 342.062 430.406 342.359 430.772 342.359Z" fill="black"/>
</g>
<g id="lady">
<path id="Vector_93" opacity="0.1" d="M343.692 363.616C355.602 363.616 365.256 361.857 365.256 359.688C365.256 357.52 355.602 355.761 343.692 355.761C331.783 355.761 322.128 357.52 322.128 359.688C322.128 361.857 331.783 363.616 343.692 363.616Z" fill="#6C63FF"/>
<path id="Vector_94" d="M385.739 276.268C382.103 278.211 378.873 264.639 378.873 264.639L378.735 262.737L378.473 259.141L382.913 259.708C382.846 260.484 382.846 261.265 382.913 262.042C382.992 262.963 383.217 263.925 383.746 264.312C384.929 265.205 389.37 274.33 385.739 276.268Z" fill="#DDC7CA"/>
<path id="Vector_95" d="M340.213 278.082V287.355C340.213 287.757 340.213 288.157 340.213 288.556C340.118 292.02 339.811 295.475 339.293 298.902C339.17 299.739 339.15 300.587 339.233 301.429C339.555 304.583 338.773 316.623 338.773 316.623L337.393 332.216C337.393 332.216 338.198 340.697 337.853 341.885C337.761 342.372 337.732 342.868 337.765 343.363C337.811 344.744 338.051 346.516 338.129 347.046V347.207L338.078 347.244L331.327 352.396C332.404 351.415 332.68 349.131 332.676 347.014C332.676 346.783 332.676 346.553 332.676 346.323C332.676 344.343 332.752 342.364 332.906 340.384C333.127 337.129 331.829 332.143 330.881 329.04C329.671 325.085 328.456 301.977 329.105 300.766C329.754 299.555 329.022 296.402 328.217 294.625C327.743 293.543 327.283 289.758 327.006 286.996C326.832 285.32 326.726 284.049 326.726 284.049L340.213 278.082Z" fill="#DDC7CA"/>
<path id="Vector_96" d="M363.609 278.883V288.156C363.609 288.727 363.609 289.302 363.609 289.873C363.504 293.164 363.207 296.446 362.721 299.703C362.597 300.54 362.577 301.389 362.661 302.23C362.983 305.384 362.201 317.424 362.201 317.424L360.82 333.017C360.82 333.017 361.63 341.498 361.308 342.686C361.214 343.171 361.185 343.666 361.221 344.159C361.267 345.54 361.51 347.34 361.584 347.842C361.584 347.944 361.607 347.994 361.607 347.994L361.556 348.031L354.796 353.183C355.841 352.179 356.113 349.923 356.108 347.833C356.108 347.603 356.108 347.373 356.108 347.138C356.108 345.158 356.2 343.178 356.333 341.199C356.55 337.944 355.257 332.962 354.309 329.859C353.094 325.904 351.884 302.797 352.532 301.586C353.181 300.375 352.45 297.221 351.644 295.444C351.354 294.818 351.078 293.294 350.839 291.6C350.411 288.524 350.107 284.864 350.107 284.864L363.609 278.883Z" fill="#DDC7CA"/>
<path id="Vector_97" d="M352.578 185.127C352.579 187.295 351.787 189.388 350.352 191.012C348.917 192.636 346.938 193.679 344.788 193.944C344.424 193.99 344.059 194.013 343.692 194.013H343.628C341.874 193.999 340.164 193.467 338.713 192.482C337.261 191.497 336.591 189.929 335.929 188.304C335.268 186.679 334.644 185.071 334.995 183.352C335.345 181.633 336.196 180.056 337.441 178.82C338.686 177.584 340.269 176.745 341.99 176.408C343.71 176.07 345.493 176.25 347.111 176.925C348.73 177.599 350.113 178.738 351.086 180.198C352.059 181.658 352.578 183.373 352.578 185.127Z" fill="#DDC7CA"/>
<path id="Vector_98" d="M359.628 337.474C370.903 337.474 370.378 335.683 373.204 334.712C372.55 333.501 367.553 272.157 366.301 265.421C365.403 260.587 362.435 251.471 362.435 251.471C362.435 251.471 357.838 243.566 356.821 238.741C356.673 238.114 356.61 237.47 356.633 236.826C356.642 236.671 356.662 236.517 356.692 236.365C356.738 236.136 356.824 235.916 356.945 235.716C357.484 234.883 358.777 232.834 360.365 230.311L363.917 224.653C365.822 221.629 367.682 218.643 368.952 216.603L369.14 216.301L370.594 213.999C370.594 213.999 368.896 208.262 367.686 206.241C366.985 205.28 366.132 204.44 365.16 203.755C364 202.876 362.794 202.06 361.547 201.31L357.452 199.612C357.452 199.612 356.379 200.827 355.33 200.344C355.33 200.344 356.623 214.644 354.525 216.26C354.525 216.26 353.232 219.653 353.876 200.182C353.876 200.182 346.766 198.691 344.355 198.594C344.117 198.572 343.878 198.591 343.646 198.649C343.054 198.827 342.451 198.972 341.842 199.082C339.288 199.621 335 200.491 334.337 201.637C333.44 203.189 329.813 210.767 330.218 214.238C330.255 214.552 330.283 214.984 330.31 215.518C330.481 218.976 330.393 226.623 330.31 231.78C330.287 233.027 330.246 234.137 330.246 235.003L330.209 236.922L329.289 240.145L326.224 250.578C325.824 250.978 321.434 266.572 321.434 269.335C321.434 272.097 316.142 333.791 316.142 333.791C317.113 334.679 321.935 337.704 326.496 338.855C331.056 340.006 334.779 337.474 342.832 338.855C351.345 340.006 359.628 337.474 359.628 337.474Z" fill="url(#paint6_linear)"/>
<path id="Vector_99" opacity="0.1" d="M382.904 262.042C381.657 262.884 379.462 262.852 378.735 262.737L378.473 259.141L382.913 259.708C382.843 260.484 382.84 261.265 382.904 262.042Z" fill="black"/>
<path id="Vector_100" d="M367.327 211.642L370.64 213.985C370.64 213.985 372.173 220.122 373.544 222.305C374.915 224.487 374.754 227.314 374.754 227.314C375.217 227.827 375.649 228.366 376.047 228.93C377.018 230.224 378.307 236.711 377.824 237.549C377.341 238.387 380.612 245.329 380.612 245.329C380.612 245.329 381.073 245.79 382.025 248.317C382.978 250.845 382.025 253.732 382.025 253.732C382.025 253.732 384.528 259.307 383.479 260.84C382.43 262.373 379.034 262.222 378.551 262.051C378.068 261.881 379.844 261.001 376.71 260.757C373.576 260.513 369.439 254.943 369.439 254.943C367.801 251.982 366.604 248.798 365.887 245.491C365.171 242.083 364.2 238.734 362.983 235.472C362.578 234.261 360.802 226.425 360.802 226.425L367.327 211.642Z" fill="#C0D0EA"/>
<path id="Vector_101" opacity="0.1" d="M342.537 211.642C342.537 211.642 342.293 230.385 340.034 234.1L342.537 211.642Z" fill="black"/>
<path id="Vector_102" opacity="0.1" d="M355.62 218.267C355.62 218.267 353.522 237.01 351.865 237.977C350.208 238.944 355.62 218.267 355.62 218.267Z" fill="black"/>
<path id="Vector_103" opacity="0.1" d="M352.578 215.601C352.578 215.601 352.068 233.276 349.403 235.021C346.739 236.766 352.578 215.601 352.578 215.601Z" fill="black"/>
<path id="Vector_104" opacity="0.1" d="M329.376 249.045C329.376 249.045 326.035 258.819 326.413 262.857C326.79 266.895 329.376 249.045 329.376 249.045Z" fill="black"/>
<path id="Vector_105" opacity="0.1" d="M356.867 239.386C352.496 240.366 340.669 242.125 330.269 235.652C330.269 234.786 330.31 233.677 330.333 232.429C334.282 234.602 345.372 240.256 351.018 238.672C353.835 237.866 355.62 237.355 356.738 237.024C356.627 237.812 356.67 238.614 356.867 239.386Z" fill="black"/>
<path id="Vector_106" d="M356.867 238.764C352.496 239.74 340.669 241.499 330.269 235.03C330.269 234.165 330.31 233.055 330.333 231.807C334.282 233.981 345.372 239.634 351.018 238.05C353.835 237.249 355.62 236.734 356.738 236.407C356.627 237.193 356.671 237.994 356.867 238.764Z" fill="#7B78A2"/>
<path id="Vector_107" opacity="0.1" d="M338.051 349.937C338.051 350.043 338.028 350.112 338.023 350.135L331.272 355.287C332.349 354.306 332.625 352.023 332.621 349.905C332.621 349.675 332.621 349.445 332.621 349.214C333.215 347.751 334.059 346.402 335.115 345.227C336.265 344.928 336.988 345.227 337.416 345.748C337.416 345.798 337.416 345.849 337.416 345.895C337.507 346.006 337.588 346.126 337.655 346.254C338.331 347.419 338.138 349.32 338.051 349.937Z" fill="black"/>
<path id="Vector_108" d="M338.018 350.467C337.303 352.107 336.943 353.88 336.96 355.669C336.99 357.14 336.616 358.591 335.879 359.863C335.775 360.044 335.657 360.215 335.524 360.375C335.524 360.375 331.985 360.347 330.748 359.32C330.607 359.216 330.491 359.082 330.407 358.929C329.698 357.515 331.788 352.101 331.788 352.101C332.883 347.925 335.11 345.697 335.11 345.697C339.081 344.656 338.018 350.467 338.018 350.467Z" fill="#656181"/>
<path id="Vector_109" opacity="0.1" d="M335.879 359.85C335.775 360.03 335.657 360.201 335.524 360.361C335.524 360.361 331.985 360.333 330.748 359.306C331.355 357.29 333.302 351.189 334.208 352.225C335.115 353.261 335.662 357.902 335.879 359.85Z" fill="black"/>
<path id="Vector_110" d="M335.391 352.617L335.147 361.76H336.334C336.334 361.76 336.523 353.74 337.057 352.617C337.59 351.493 335.391 352.617 335.391 352.617Z" fill="#656181"/>
<path id="Vector_111" opacity="0.1" d="M361.543 347.879L361.515 348.068L354.796 353.183C355.841 352.179 356.113 349.923 356.108 347.833C356.108 347.603 356.108 347.373 356.108 347.138C356.701 345.676 357.543 344.329 358.598 343.155C359.748 342.856 360.475 343.155 360.921 343.671C360.921 343.726 360.921 343.772 360.921 343.823C361.014 343.932 361.094 344.051 361.161 344.178C361.828 345.361 361.63 347.267 361.543 347.879Z" fill="black"/>
<path id="Vector_112" d="M361.515 348.395C360.796 350.034 360.434 351.807 360.452 353.597C360.482 355.068 360.108 356.519 359.371 357.792C359.266 357.971 359.147 358.142 359.016 358.303C359.016 358.303 355.478 358.275 354.24 357.248C354.103 357.14 353.991 357.006 353.908 356.852C353.204 355.439 355.289 350.025 355.289 350.025C356.384 345.849 358.611 343.62 358.611 343.62C362.573 342.594 361.515 348.395 361.515 348.395Z" fill="#656181"/>
<path id="Vector_113" opacity="0.1" d="M359.371 357.792C359.266 357.971 359.147 358.142 359.016 358.303C359.016 358.303 355.478 358.275 354.24 357.248C354.847 355.232 356.794 349.127 357.7 350.163C358.607 351.199 359.154 355.83 359.371 357.792Z" fill="black"/>
<path id="Vector_114" d="M358.887 350.545L358.639 359.684H359.826C359.826 359.684 360.015 351.668 360.549 350.545C361.083 349.421 358.887 350.545 358.887 350.545Z" fill="#656181"/>
<path id="Vector_115" d="M315.221 242.397C315.221 242.397 313.914 242.259 312.156 241.987C307.555 241.287 299.773 239.685 304.2 237.383C308.263 235.256 313.864 237.061 317.14 238.506C318.072 238.918 318.982 239.379 319.864 239.887L315.221 242.397Z" fill="#E3D1D4"/>
<path id="Vector_116" opacity="0.1" d="M316.505 240.992C316.505 240.992 316.27 241.913 315.875 243.156C315.373 242.954 314.954 242.793 314.646 242.696C313.265 242.235 314.89 241.646 314.485 240.435C314.14 239.395 313.5 239.722 312.764 239.432C313.246 238.776 313.766 238.15 314.324 237.558L316.505 240.992Z" fill="black"/>
<path id="Vector_117" d="M331.958 212.369L330.324 214.961C330.324 214.961 328.106 219.073 327.761 220.348C327.416 221.623 326.726 226.504 325.345 227.636C323.965 228.769 321.144 232.401 321.549 233.129C321.954 233.856 317.752 234.745 317.752 234.745C317.752 234.745 314.927 235.877 315.088 236.766C315.249 237.655 312.745 238.382 313.634 239.027C314.522 239.671 315.332 239.027 315.737 240.237C316.142 241.448 314.522 242.019 315.898 242.503C317.274 242.986 321.793 244.878 321.793 244.878C321.793 244.878 325.423 245.491 326.473 243.308C327.522 241.126 333.499 235.716 333.499 235.716C333.499 235.716 335.193 229.574 336.261 227.231C337.328 224.888 339.413 214.308 339.413 214.308C339.413 214.308 337.715 201.218 336.192 203.258C334.668 205.298 331.958 212.369 331.958 212.369Z" fill="#BFD0E9"/>
<g id="Vector_118">
<path d="M343.425 189.708C342.416 188.588 342.607 187.849 341.313 187.109C339.611 186.232 340.071 186.462 339.242 184.807C338.69 183.47 339.399 183.241 338.092 182.965C335.68 182.463 331.93 187.298 332.85 181.285C333.771 175.271 336.61 176.01 339.242 174.032C341.874 172.053 341.773 171.916 344.903 171.269C348.032 170.623 354.336 175.643 355.717 177.945C357.097 180.247 355.956 183.198 356.407 183.93C356.858 184.663 362.951 189.794 363.411 193.708C363.871 197.621 361.917 198.384 366.519 210.355C367.347 212.505 368.197 213.622 368.142 215.928C368.086 218.235 364.695 220.046 362.49 220.732C362.205 222.26 358.579 221.653 358.579 221.653C358.579 221.653 358.086 222.666 356.508 223.126C354.93 223.587 353.457 223.47 352.366 223.126C351.589 223.149 346.964 221.128 346.384 221.653C343.536 224.222 337.411 221.562 337.181 219.951C336.951 218.339 345.806 211.917 341.922 203.606C341.569 202.958 341.265 199.72 341.092 199.002C340.802 197.382 340.97 196.165 341.922 194.826C342.614 193.852 343.398 192.906 343.936 191.85C344.304 191.128 343.968 190.31 343.425 189.708Z" fill="#6F5E74"/>
<path d="M343.425 189.708C342.416 188.588 342.607 187.849 341.313 187.109C339.611 186.232 340.071 186.462 339.242 184.807C338.69 183.47 339.399 183.241 338.092 182.965C335.68 182.463 331.93 187.298 332.85 181.285C333.771 175.271 336.61 176.01 339.242 174.032C341.874 172.053 341.773 171.916 344.903 171.269C348.032 170.623 354.336 175.643 355.717 177.945C357.097 180.247 355.956 183.198 356.407 183.93C356.858 184.663 362.951 189.794 363.411 193.708C363.871 197.621 361.917 198.384 366.519 210.355C367.347 212.505 368.197 213.622 368.142 215.928C368.086 218.235 364.695 220.046 362.49 220.732C362.205 222.26 358.579 221.653 358.579 221.653C358.579 221.653 358.086 222.666 356.508 223.126C354.93 223.587 353.457 223.47 352.366 223.126C351.589 223.149 346.964 221.128 346.384 221.653C343.536 224.222 337.411 221.562 337.181 219.951C336.951 218.339 345.806 211.917 341.922 203.606C341.569 202.958 341.265 199.72 341.092 199.002C340.802 197.382 340.97 196.165 341.922 194.826C342.614 193.852 343.398 192.906 343.936 191.85C344.304 191.128 343.968 190.31 343.425 189.708Z" fill="url(#paint7_linear)"/>
</g>
<path id="Vector_119" opacity="0.1" d="M327.356 233.212C327.356 233.212 319.363 234.261 323.642 236.039C327.922 237.816 329.376 236.039 329.376 236.039L327.356 233.212Z" fill="black"/>
<path id="Vector_120" opacity="0.1" d="M317.425 237.977C317.425 237.977 322.11 237.01 323.32 237.977C324.531 238.944 317.425 237.977 317.425 237.977Z" fill="black"/>
<path id="Vector_121" opacity="0.1" d="M316.942 240.403C316.942 240.403 317.264 239.593 318.88 240.403C320.495 241.213 316.942 240.403 316.942 240.403Z" fill="black"/>
<path id="Vector_122" opacity="0.1" d="M369.789 248.119C369.789 248.119 370.277 255.486 372.26 255.725C374.243 255.965 369.789 248.119 369.789 248.119Z" fill="black"/>
<path id="Vector_123" opacity="0.1" d="M374.032 231.444C374.032 231.444 374.368 233.695 372.26 234.1C370.153 234.505 374.032 231.444 374.032 231.444Z" fill="black"/>
<path id="Vector_124" opacity="0.1" d="M350.126 253.354C350.126 253.354 350.02 276.084 354.649 278.883L350.126 253.354Z" fill="black"/>
<path id="Vector_125" opacity="0.1" d="M356.26 254.326C356.26 254.326 356.177 277.051 360.779 279.855L356.26 254.326Z" fill="black"/>
<g id="Group" opacity="0.1">
<path id="Vector_126" opacity="0.1" d="M365.063 223.819C364.721 223.975 364.409 224.19 364.143 224.455C364.87 224.275 365.638 224.252 366.352 224.027C366.905 223.855 367.416 223.57 367.852 223.189C366.936 223.447 365.933 223.419 365.063 223.819Z" fill="black"/>
<path id="Vector_127" opacity="0.1" d="M357.047 236.596C355.913 237.102 354.744 237.526 353.549 237.862C354.463 236.455 355.059 234.866 355.298 233.205C355.536 231.544 355.411 229.851 354.93 228.244C354.64 227.323 354.01 226.241 353.011 226.269C352.411 226.361 351.867 226.673 351.483 227.144C352.404 227.176 353.034 228.198 353.324 229.114C353.805 230.721 353.93 232.414 353.692 234.075C353.453 235.736 352.857 237.325 351.943 238.732C353.734 238.257 355.452 237.538 357.047 236.596Z" fill="black"/>
</g>
<ellipse id="Ellipse 1" cx="356.177" cy="183.7" rx="0.460205" ry="0.460411" fill="white"/>
<ellipse id="Ellipse 2" cx="355.717" cy="184.621" rx="0.46019" ry="0.460396" fill="white"/>
<ellipse id="Ellipse 3" cx="354.796" cy="184.621" rx="0.460175" ry="0.460396" fill="white"/>
</g>
<a xlink:href="/about" target="_blank" class = "button-link">
<g id="learn-more">
<path id="Learn more" d="M156.636 133.216H158.46V140.812H161.904V142H156.792V133.948L156.636 133.216ZM165.344 135.868C165.896 135.868 166.348 135.988 166.7 136.228C167.06 136.468 167.324 136.78 167.492 137.164C167.668 137.54 167.756 137.944 167.756 138.376C167.756 138.656 167.72 138.928 167.648 139.192H164C164 139.832 164.152 140.324 164.456 140.668C164.76 141.004 165.156 141.172 165.644 141.172C165.876 141.172 166.124 141.132 166.388 141.052C166.66 140.972 166.94 140.848 167.228 140.68L167.612 141.496C167.34 141.712 166.996 141.872 166.58 141.976C166.172 142.08 165.804 142.132 165.476 142.132C164.852 142.132 164.316 142.004 163.868 141.748C163.42 141.492 163.076 141.136 162.836 140.68C162.596 140.216 162.476 139.676 162.476 139.06C162.476 138.5 162.588 137.98 162.812 137.5C163.044 137.012 163.372 136.62 163.796 136.324C164.228 136.02 164.744 135.868 165.344 135.868ZM165.284 136.852C165.02 136.852 164.796 136.924 164.612 137.068C164.436 137.212 164.3 137.392 164.204 137.608C164.108 137.824 164.052 138.036 164.036 138.244H166.256C166.296 138.012 166.284 137.792 166.22 137.584C166.156 137.368 166.044 137.192 165.884 137.056C165.724 136.92 165.524 136.852 165.284 136.852ZM171.142 135.892C171.782 135.892 172.274 136.056 172.618 136.384C172.97 136.704 173.146 137.188 173.146 137.836V140.464C173.146 140.696 173.182 140.852 173.254 140.932C173.326 141.012 173.418 141.052 173.53 141.052C173.674 141.052 173.83 141.02 173.998 140.956L174.226 141.772C174.05 141.868 173.85 141.944 173.626 142C173.402 142.064 173.198 142.096 173.014 142.096C172.726 142.096 172.494 142.036 172.318 141.916C172.142 141.796 172.018 141.588 171.946 141.292C171.722 141.604 171.458 141.824 171.154 141.952C170.858 142.072 170.522 142.132 170.146 142.132C169.682 142.132 169.282 142 168.946 141.736C168.618 141.464 168.454 141.084 168.454 140.596C168.454 140.164 168.554 139.812 168.754 139.54C168.962 139.26 169.23 139.048 169.558 138.904C169.886 138.752 170.238 138.648 170.614 138.592C170.998 138.536 171.362 138.508 171.706 138.508V137.728C171.706 137.408 171.638 137.188 171.502 137.068C171.366 136.948 171.146 136.888 170.842 136.888C170.57 136.888 170.298 136.964 170.026 137.116C169.754 137.268 169.514 137.424 169.306 137.584L168.718 136.636C169.446 136.14 170.254 135.892 171.142 135.892ZM171.706 139.492C171.538 139.492 171.354 139.5 171.154 139.516C170.954 139.532 170.762 139.572 170.578 139.636C170.394 139.7 170.242 139.796 170.122 139.924C170.01 140.052 169.954 140.228 169.954 140.452C169.954 140.636 170.026 140.78 170.17 140.884C170.322 140.98 170.482 141.028 170.65 141.028C170.874 141.028 171.062 140.964 171.214 140.836C171.374 140.708 171.494 140.548 171.574 140.356C171.662 140.156 171.706 139.96 171.706 139.768V139.492ZM175.979 135.916C176.155 136.316 176.251 136.736 176.267 137.176C176.467 136.84 176.747 136.548 177.107 136.3C177.467 136.044 177.847 135.916 178.247 135.916L178.007 137.344C177.655 137.344 177.339 137.436 177.059 137.62C176.787 137.796 176.527 138.072 176.279 138.448V142H174.839V137.644C174.839 137.492 174.827 137.316 174.803 137.116C174.779 136.908 174.739 136.708 174.683 136.516C174.627 136.324 174.551 136.164 174.455 136.036L175.979 135.916ZM180.235 135.904C180.291 136.024 180.335 136.152 180.367 136.288C180.399 136.416 180.423 136.544 180.439 136.672C180.679 136.456 180.959 136.268 181.279 136.108C181.607 135.948 181.935 135.868 182.263 135.868C182.727 135.868 183.087 135.956 183.343 136.132C183.599 136.308 183.779 136.556 183.883 136.876C183.987 137.188 184.039 137.552 184.039 137.968V142H182.587V138.112C182.587 137.928 182.571 137.752 182.539 137.584C182.515 137.416 182.447 137.28 182.335 137.176C182.231 137.064 182.063 137.008 181.831 137.008C181.711 137.008 181.563 137.044 181.387 137.116C181.219 137.188 181.055 137.276 180.895 137.38C180.743 137.476 180.623 137.572 180.535 137.668V142H179.095V137.728C179.095 137.584 179.083 137.408 179.059 137.2C179.043 136.984 179.007 136.772 178.951 136.564C178.895 136.356 178.819 136.196 178.723 136.084L180.235 135.904ZM189.575 135.904C189.631 136.024 189.675 136.152 189.707 136.288C189.739 136.416 189.763 136.544 189.779 136.672C190.059 136.432 190.339 136.24 190.619 136.096C190.899 135.952 191.231 135.88 191.615 135.88C191.943 135.88 192.239 135.948 192.503 136.084C192.775 136.22 192.975 136.444 193.103 136.756C193.375 136.484 193.671 136.272 193.991 136.12C194.311 135.96 194.663 135.88 195.047 135.88C195.487 135.88 195.827 135.972 196.067 136.156C196.315 136.332 196.487 136.576 196.583 136.888C196.679 137.192 196.727 137.54 196.727 137.932V142H195.287V138.016C195.287 137.72 195.235 137.48 195.131 137.296C195.035 137.104 194.823 137.008 194.495 137.008C194.295 137.008 194.079 137.084 193.847 137.236C193.615 137.38 193.431 137.52 193.295 137.656V142H191.843V137.98C191.843 137.724 191.791 137.5 191.687 137.308C191.591 137.108 191.391 137.008 191.087 137.008C190.879 137.008 190.659 137.08 190.427 137.224C190.203 137.36 190.019 137.508 189.875 137.668V142H188.435V137.728C188.435 137.584 188.423 137.408 188.399 137.2C188.383 136.984 188.347 136.772 188.291 136.564C188.235 136.356 188.159 136.196 188.063 136.084L189.575 135.904ZM200.664 142.144C200.064 142.144 199.548 142.008 199.116 141.736C198.692 141.456 198.364 141.084 198.132 140.62C197.908 140.148 197.796 139.624 197.796 139.048C197.796 138.472 197.916 137.944 198.156 137.464C198.396 136.984 198.736 136.6 199.176 136.312C199.624 136.024 200.144 135.88 200.736 135.88C201.344 135.88 201.86 136.02 202.284 136.3C202.708 136.572 203.032 136.944 203.256 137.416C203.488 137.88 203.604 138.4 203.604 138.976C203.604 139.552 203.484 140.08 203.244 140.56C203.004 141.04 202.664 141.424 202.224 141.712C201.792 142 201.272 142.144 200.664 142.144ZM200.676 141.184C200.956 141.184 201.184 141.116 201.36 140.98C201.536 140.836 201.672 140.656 201.768 140.44C201.864 140.216 201.928 139.98 201.96 139.732C202 139.476 202.02 139.24 202.02 139.024C202.02 138.8 202.004 138.564 201.972 138.316C201.948 138.06 201.892 137.824 201.804 137.608C201.716 137.384 201.584 137.204 201.408 137.068C201.24 136.932 201.012 136.864 200.724 136.864C200.452 136.864 200.228 136.936 200.052 137.08C199.876 137.224 199.74 137.408 199.644 137.632C199.548 137.856 199.48 138.092 199.44 138.34C199.4 138.588 199.38 138.816 199.38 139.024C199.38 139.24 199.396 139.472 199.428 139.72C199.46 139.968 199.52 140.204 199.608 140.428C199.696 140.652 199.824 140.836 199.992 140.98C200.168 141.116 200.396 141.184 200.676 141.184ZM205.874 135.916C206.05 136.316 206.146 136.736 206.162 137.176C206.362 136.84 206.642 136.548 207.002 136.3C207.362 136.044 207.742 135.916 208.142 135.916L207.902 137.344C207.55 137.344 207.234 137.436 206.954 137.62C206.682 137.796 206.422 138.072 206.174 138.448V142H204.734V137.644C204.734 137.492 204.722 137.316 204.698 137.116C204.674 136.908 204.634 136.708 204.578 136.516C204.522 136.324 204.446 136.164 204.35 136.036L205.874 135.916ZM211.164 135.868C211.716 135.868 212.168 135.988 212.52 136.228C212.88 136.468 213.144 136.78 213.312 137.164C213.488 137.54 213.576 137.944 213.576 138.376C213.576 138.656 213.54 138.928 213.468 139.192H209.82C209.82 139.832 209.972 140.324 210.276 140.668C210.58 141.004 210.976 141.172 211.464 141.172C211.696 141.172 211.944 141.132 212.208 141.052C212.48 140.972 212.76 140.848 213.048 140.68L213.432 141.496C213.16 141.712 212.816 141.872 212.4 141.976C211.992 142.08 211.624 142.132 211.296 142.132C210.672 142.132 210.136 142.004 209.688 141.748C209.24 141.492 208.896 141.136 208.656 140.68C208.416 140.216 208.296 139.676 208.296 139.06C208.296 138.5 208.408 137.98 208.632 137.5C208.864 137.012 209.192 136.62 209.616 136.324C210.048 136.02 210.564 135.868 211.164 135.868ZM211.104 136.852C210.84 136.852 210.616 136.924 210.432 137.068C210.256 137.212 210.12 137.392 210.024 137.608C209.928 137.824 209.872 138.036 209.856 138.244H212.076C212.116 138.012 212.104 137.792 212.04 137.584C211.976 137.368 211.864 137.192 211.704 137.056C211.544 136.92 211.344 136.852 211.104 136.852Z" fill="white" style="
    z-index: 3000;
"/>
<g id="arrow-right-solid 1" clip-path="url(#clip1)">
<path id="Vector_128" d="M221.677 134.568L222.223 134.048C222.453 133.827 222.827 133.827 223.055 134.048L227.828 138.602C228.059 138.822 228.059 139.178 227.828 139.396L223.055 143.952C222.824 144.173 222.451 144.173 222.223 143.952L221.677 143.432C221.444 143.209 221.449 142.846 221.687 142.628L224.646 139.937H217.589C217.263 139.937 217 139.687 217 139.375V138.625C217 138.313 217.263 138.062 217.589 138.062H224.646L221.687 135.372C221.447 135.154 221.442 134.791 221.677 134.568Z" fill="#FFF1F7"/>
</g>
</g>
</a>
</g>
<defs>
<linearGradient id="paint0_linear" x1="115.504" y1="241.48" x2="90.6547" y2="243.55" gradientUnits="userSpaceOnUse">
<stop stop-color="#7B78A2"/>
<stop offset="1" stop-color="#A285D7"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="254.344" y1="79.5665" x2="254.344" y2="86.9329" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="1" stop-color="white" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="118.94" y1="334.988" x2="118.94" y2="356.445" gradientUnits="userSpaceOnUse">
<stop stop-color="#A285D7"/>
<stop offset="1" stop-color="#B7C9E6" stop-opacity="0.58"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="77.9285" y1="319.795" x2="77.9285" y2="336.221" gradientUnits="userSpaceOnUse">
<stop stop-color="#C0D0EA"/>
<stop offset="1" stop-color="#9A7DD5" stop-opacity="0.9"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="433.487" y1="327.345" x2="420.369" y2="320.445" gradientUnits="userSpaceOnUse">
<stop offset="0.414668" stop-color="#B38EC8"/>
<stop offset="1" stop-color="#D29FA6"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="442.46" y1="319.749" x2="428.644" y2="345.065" gradientUnits="userSpaceOnUse">
<stop offset="0.396503" stop-color="#A487D8" stop-opacity="0.8"/>
<stop offset="1" stop-color="#D7A1A1"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="343.752" y1="250.228" x2="343.867" y2="340.006" gradientUnits="userSpaceOnUse">
<stop stop-color="#DCE6F4"/>
<stop offset="1" stop-color="#B7C9E6"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="347.894" y1="179.326" x2="350.429" y2="223.429" gradientUnits="userSpaceOnUse">
<stop stop-color="#6F5E74"/>
<stop offset="1" stop-color="#5F5870" stop-opacity="0.77"/>
</linearGradient>
<clipPath id="clip0">
<rect width="520" height="367.957" fill="white"/>
</clipPath>
<clipPath id="clip1">
<rect width="11" height="12" fill="white" transform="translate(217 133)"/>
</clipPath>
</defs>
</svg>
</div>
  </div>
</div>


<div class = "wrapper" id="js-wrapper">
  <div class="slides" id="js-slideContainer">
    <section id="work" class="slide">
      <%= image_tag "grain.png", :class => "grain" %>
      <div id="canvas"></div>
      <div class="plane">
      <%= image_tag "TEXT.png" %>
      </div>
      <div class="PopUp text">
        <h1>Explore The '19/20  Featured Works </h1>
        <p>Web Applicaitons, Mobile App, Visual Design... </p>
      </div>
      <div class="circle-container">
        <div class = "circle"></div>
      </div>
      <div id="universe">
      <div id="galaxy">

      <div id="sun">
      </div>

        <div id="mercury" class="orbit">
        <div class="pos">
            <div class="planet"></div>
          </div>
        </div>

      </div>
    </div>
    </section>

  <section class="slide">
    <div>
      <div class ="project-number">01</div>
      <!-- <h3 class = "project-title">COOKPAL</h3> -->
      <span class = "spoon"></span><%= image_tag "cookpal-text.png", :class => "Project-headline" %>
      <div class = "straight-line"></div>
      <div class="description">
        <div class ="description-title">Mobile App Design</div>
        <div>Product Thinking</div>
        <div>Personal Project</div>
      </div>
      <div class ="project-image"></div>
    </div>
  </section >
  <section class="slide">
    <div class="text1">
      <h3>Project3</h3>
      <p>Subtitle for section 3</p>
    </div>
  </section>
  <section class="slide">
    <div class="text2">
      <h3>Project4</h3>
      <p>Subtitle for section 3</p>
    </div>
  </section>
  </div>
  </div>
  <section id="service">
    <div>
      <h3>Title4</h3>
      <p>Subtitle for section 4</p>
    </div>
  </section>
  <section id="contact">
    <div class="text3">
      <h3>Title4</h3>
      <p>Subtitle for section 4</p>
    </div>
  </section>
 </div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
